@font-face {
  font-family: 'SF Pro Rounded Thin';
  src: url('./../font/SFProDisplay-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'SF Pro Rounded Light';
  src: url('./../font/SF-Pro-Rounded-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'SF Pro Rounded Regular';
  src: url('./../font/SF-Pro-Rounded-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'SF Pro Rounded Semi Bold';
  src: url('./../font/SF-Pro-Rounded-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'SF Pro Rounded Bold';
  src: url('./../font/SF-Pro-Rounded-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Google Sans Regular';
  src: url('./../font/GoogleSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Google Sans Medium';
  src: url('./../font/GoogleSans-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Google Sans Medium Italic';
  src: url('./../font/GoogleSans-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Google Sans Italic';
  src: url('./../font/GoogleSans-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Google Sans Bold';
  src: url('./../font/GoogleSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Google Sans Bold Italic';
  src: url('./../font/GoogleSans-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}

.sf-pro-rounded {
  font-family: "SF Pro Rounded Regular";

  .thin {
    font-family: "SF Pro Rounded Thin";
  }

  .light {
    font-family: "SF Pro Rounded Light";
  }

  .semiBold {
    font-family: "SF Pro Rounded Semi Bold";
  }

  .bold {
    font-family: "SF Pro Rounded Bold";
  }
}

.google-sans {
  font-family: "Google Sans Regular";

  .medium {
    font-family: "Google Sans Medium";
  }

  .bold {
    font-family: "Google Sans Bold";
  }

  .italic {
    font-family: "Google Sans Italic";
  }
}

.hi-text {
  font-weight: 600;
  margin: 0.5rem 0rem;
}

.boldedText-Intro {
  font-weight: 600;
}